<h1>Welcome!</h1>

{{#if user}}
<p>You're logged in, {{user.username}}! So many exclamation points!</p>
<div class="row">
{{#each challenge}}
<div class = "col-md-4">
<h2>{{category.name}} Challenge: {{title}}</h2>
<p>{{caption}}</p>
<video height= "300" width= "300" controls>
<source src="{{video.videoLink}}" type="video/mp4">
</video>
</div>
{{/each}}
</div>

{{else}}
<p>You can...</p>
<ul>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
</ul>
{{/if}}
