
{{#each challenge}}
<h2>{{category.name}} <a href="/challenges/challengeSubmission/{{title}}">Challenge: {{title}}</a></h2>
<video height= "300" width= "300" controls>
<source src="{{video.videoLink}}" type="video/mp4">
</video>
<!-- <p>Thumbs-up icon on a button:
       <a href="#" class="btn btn-xs btn-primary"><i class="far fa-hand-point-right" aria-hidden="true"></i>Like</a>
</p> -->
<p>{{caption}}</p>
<form action="/challenges/likes{{id}}" method="POST" id="like-form" style="display: inline">
  <input type="image" id="thumbsUp" src="https://i.ibb.co/PCP6CXy/like-Clear.png" onclick="changeButton().this.disabled='disabled'" height="20px" width="20px">
  {{#if likes}}
    {{likes}} <i class="fa fa-thumbs-up" style="color: #19180A"></i>
    {{else}}
    <i class="fa fa-thumbs-up" style="color: #19180A"></i>
    {{/if}}
</form>


<form action="/challenges/likes/{{id}}" method="POST" id="like-form" style="display: inline">
  <button type="submit"onclick="this.disabled='disabled'"></button>
</form>
<p>{{likeTotal}}</p>

<script>
  function changeButton() {
    let image = document.getElementById("thumbsUp");
    image.src = "https://i.ibb.co/685z7Ct/likeBlue.png";
}
</script>

{{/each}}
