<style>
  video {
    border:solid;
  }
  .col-12 {
    ;
  }

</style>

<div class ="container">
  <div class="row">
    <div class="col-12">
     <h1><center><u>{{challenge.0.category.name}}</u></center></h1>
    </div>

{{#each challenge}}
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <h2><a href="/challenges/challengeSubmission/{{title}}">{{title}}</a></h2>
    <video height= "200" width= "350" controls>
      <source src="{{video.videoLink}}" type="video/mp4">
    </video>
    <p><button style="font-size:17px"><i class="fa fa-user"></i> <a href="/challenges/profile/{{user.username}}"><i>{{user.username}}</i></a></button> {{caption}}</p>
    <form method="POST" action="/challenges/likes" id="like-form" style="display: inline">
      <input type="hidden" id="custId" name= "challengeId" value="{{id}}">
      <button type="submit" onclick="this.disabled='disabled'"style="font-size:10px">like<i class="fa fa-thumbs-o-up"></i></button>
      <p>{{likeTotal}}</p>
    </form>
  </div>
{{/each}}

<!-- <p>Thumbs-up icon on a button:
       <a href="#" class="btn btn-xs btn-primary"><i class="far fa-hand-point-right" aria-hidden="true"></i>Like</a>
</p> -->

  </div>
</div>
